div.header {
    width: 100%;
    margin: 10px;
}

.metadata {
    float: right;
}

div.searchoptions {
    width: 20%;
    float: left;
    margin: 10px;
}

select.searchoption {
    display: block;
    overflow-x: scroll;
    overflow-y: scroll;
    width: 250px;
}

div.visualization-container {
    float: left;
    width: 75%;
}

p.longSearchOptions {
    width: 500px;
}

#chart1 svg.multiBarHorizontalChart {
    height: 1000px;
    width: 80%;
}